.it-header-slim-wrapper {
    background: #2b649e;
    padding: 6.5px 18px;
}

.it-header-center-wrapper {
    background: #3478bd;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}

.it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
    transition: padding-top .3s ease;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -22px;
}

.it-footer-main {
    background-color: #214c77;
    color: #fff;
    font-size: 16px;
}

.it-footer-small-prints {
    background-color: #16334f;
}

@media (min-width: 992px) {

    .it-header-center-wrapper {
        height: 120px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 6px;
    }
    .it-header-wrapper .it-nav-wrapper .it-header-navbar-wrapper {
        position: inherit;
        left: auto;
        top: inherit;
        margin-top: 0;
    }
    .it-header-navbar-wrapper {
        background: #3478bd;
    }
}
